<%- include('../partials/header')%>


<h3><%= skill.skill %></h3>
<h3>Status: <%= skill.status ? 'Master' : 'Novice' %></h3>
<a href="/skills/<%= skill.id %>/edit" >Edit</a>

<%- include('../partials/footer')%>
